*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}

.parent{
    
    width: 900px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    gap: 0;
    
     
}
.child1{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}
.text1{
    padding: 20px;
    text-align: center;
    color: rgb(177, 26, 144);
}
.text1 p{
    padding-top: 10px;

}

.child2{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: rgb(223, 213, 201);
    text-align: center;
    color:rgb(177, 26, 144);
}
.child2 h6{
    padding-bottom: 10px;
}
.child2 h2{
    padding-bottom: 20px;
}
.child3{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
}
.child4{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    text-align: center;

}
.child5{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color:  rgb(186, 167, 142);
    text-align: center;
    p{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.child6{
    grid-column: 4/5;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    background-color: rgb(163, 127, 195);
    height: auto;
    
}
.image6{
    flex: 1;
    display: block;
    margin: auto;
    padding-top: 10px;
}
.text6{
    text-align: center;
    flex: 1;
    button{
        margin: 10px;
        padding: 10px;
    }
}
.child7{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 209, 136);
    height: auto;
}
.image7{
   display: block;
   margin: auto;
}
.text7{
    text-align: center;
}

.child8{
grid-column: 2/4;
grid-row: 3/4;
display: flex;
    flex-direction: column;
    background-color:white;
    text-align: center;
    
}

@media screen and (min-width: 769px) {
    .parent {
        width: 900px;
        height: 700px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}


@media screen and (max-width: 768px) {
    .parent {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;   /* single column */
        grid-template-rows: auto;
    }
    img {
        width: 100%;
        height: auto;
    }
    .child1,
    .child6 {
        flex-direction: column;
        text-align: center;
    }
}
