*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* ========================= */

.top{
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.top h5{
    font-size: 18px;
}

.top ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.top ul a{
    text-decoration: none;
    color: #00bcd4;
    font-size: 14px;
    transition: 0.3s;
}

.top ul a:hover{
    color: #0097a7;
}


/* ========================= */
.image{
    background-color: #2ec4b6;
    text-align: center;
    padding: 60px 20px;
    color: white;
}
.image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}
.image h5{
    font-size: 28px;
   margin-bottom: 10px;
}
.image p{
    font-size: 16px;
}
/* ========================= */
.row{
    display: flex;
    padding: 50px 80px;
    gap: 40px;
}

.card{
    flex: 1;
}

.card h5{
    font-size: 20px;
    margin-bottom: 15px;
}

.card p{
    font-size: 14px;
    line-height: 1.6;
}

.card img{
    width: 100%;
    margin: 15px 0;
    border-radius: 5px;
}


/* ========================= */
@media screen and (max-width: 1200px){

    .row{
        padding: 40px 50px;
        gap: 30px;
    }

    .image h5{
        font-size: 24px;
    }

    .image p{
        font-size: 14px;
    }
}


/* ========================= */

@media screen and (max-width: 768px){
    /* Navbar stacked */
    .top{
        flex-direction: column;
        gap: 15px;
        text-align: center;
        padding: 20px;
    }
    .top ul{
        flex-direction: column;
        gap: 10px;
    }
    .image{
        padding: 40px 20px;
    }
    .image h5{
        font-size: 22px;
    }
    .image p{
        font-size: 14px;
    }
    /* Cards stacked */
    .row{
        flex-direction: column;
        padding: 30px 20px;
        gap: 30px;
    }
}
